/* Add this to your style.css */
body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #0d1224;
}


.full-stack, .react, .html-css2, .javascript {
    display: block; /* Hide all sections by default */
    color: #fff;
    margin: 20px;
}
.comingsoon{
    padding: 10px;
    color: #0d1224;
    font-weight: bold;
    background-color: #26ffe3;
    font-size: 20px;
}

/* Ensure the selected section is shown */
.full-stack.selected, .react.selected, .html-css2.selected, .javascript.selected {
    display: block;
}

.html-css2 h1{
    padding: 0;
    margin: 0;
}

.login-page p img{
    width: 100%;
    margin-bottom: 10px;
    height: 100%;
    border: 2px solid #4e4e4e;
    transition: 0.4s;
}

.login-page p img:hover{
    border-color: #26ffe3;
}

.project-section{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.source-code{
    display: flex;
    justify-content: center;
}


  textarea{
    padding: 10px;
    width: 100%;
    height: 300px;
    outline: none;
    font-size: 10px;
    background-color: #0d1224;
    color: #8a8a8a;
  }

.copybtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.copybtn button{
    padding: 8px;
    height: 40px;
    outline: none;
    align-items: center;
    background-color: #0d1224;
    border: none;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    cursor: pointer;
    border: 2px solid #4e4e4e;
    transition: 0.4s;
}

.copybtn button:hover{
    border-color: #26ffe3;
}

.copybtn p{
    font-weight: 400;
}

.source-code p{
    display: flex;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    gap: 10px;
    padding: 12px 20px;
    border: 2px solid #4e4e4e;
    border-radius: 30px;
    margin: 0;
    cursor: pointer;
    margin-bottom: 10px;
    align-items: center;
    transition: 0.4s;
}

.source-code p:hover{
    border-color: #26ffe3;
}

.source-code p img{
    height: 18px;
}



